body{
    background-color: black;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
a{
    text-decoration:none;
    color: rgb(2, 0, 0)
}
.nev-item{ 
    display: inline-block;
    margin-right: 15px;
    font-size: larger;
    
    
}
h1{
 text-align: center;   
 padding: 100px;
 font-size: 80px;
 color: black;
 background-image: url(https://www.ilovewallpaper.co.uk/images/zara-mono-geometric-wallpaper-white-black-p6181-19335_thumbmini.jpg);
}
header { 
    background-color: white;
    width: auto;
    padding: 0;
    color: black;
    font-size: larger;
}
footer{
 background-color: white;
 border: 5px gray;
 color: black;
 font-size: larger;
 background-image:url(../img/EDYTL_SQ1_0000000019_BLACK_WHITE_SLf.jpg);
   
}
.div1{
    background-image:url(../img/EDYTL_SQ1_0000000019_BLACK_WHITE_SLf.jpg);
}
